<div class = 'jumbotron'>
  <h1 id= 'intro-title'>Get To Know</h1>
  <h1 id= 'intro-name'> Chris Lee </h1>
  <h3 id= 'intro-desc'><q>An aspiring Junior Ruby on Rails Developer</q></h3>
    <p id= 'btn'>
      <%= link_to "My Story", about_index_path,class: 'btn btn-success' %>
    </p>
</div>
<h4 id="dis"><b>Disclaimer:</b> At anytime you may exit this story, however you would be missing out on the possibility of adding a passionate young developer to the RTS Labs culture! Chris is a passionate young developer that is seeking the opportunity to grow in a culture that promotes a hard working, collaborative, and drama free environment. If this sounds like a guy you want on your team, then I encourage you to proceed forward.</h4> 