<h2 id= 'about-title'><b>Educational Background</b></h2>

<div class="col-md-10 col-md-offset-1">
  <h3 id= 'edu-title'>Bloc.io</h3>
  <h4 id= 'edu-sec'><q>Ruby on Rails Apprentice</q></h4>
  <div class="jumbotron">
  </div>
</div>
<div class="col-md-10 col-md-offset-1">
  <h3 id= 'edu-title'>Virginia Commonwealth University</h3>
  <h4 id= 'edu-sec'><q>B.S. Economics & Business</q></h4>
  <div class="jumbotron">
  </div><hr>
</div>

<p id='edu-btn'>
  <%= link_to "Continue", about_portfolio_path, class: 'btn btn-info' %>
</p>
