<h2 id= 'about-title'> Who is Chris Lee?</h2> 
<div class= 'row'>
  <div class= 'col-md-6'>
    <h3 id='sub-t'>heading 1</h3>
    <div class= 'jumbotron'>
      <ul>
        <li>Hello</li>
        <li></li>
      </ul>
    </div>
    <p class='btn btn-success' id='b1'>select</p>
  </div>
  <div class= 'col-md-6'>
    <h3 id='sub-t'>Heading 2</h3>
    <div class= 'jumbotron'>
      <ul>
        <li>Hello</li>
        <li></li>
      </ul>
    </div>
  </div>
</div>
<div class= 'row'>
  <div class= 'col-md-6'>
    <h3 id='sub-t'>heading 3</h3>
    <div class= 'jumbotron'>
      <ul>
        <li>Hello</li>
        <li></li>
      </ul>
    </div>
  </div>
  <div class= 'col-md-6'>
    <h3 id= 'sub-t'>heading 4</h3>
    <div class= 'jumbotron'>
      <ul>
        <li>Hello</li>
        <li></li>
      </ul>
    </div>
  </div>
</div><hr>
<div>
  <p id= 'edu-btn'>
    <%= link_to "Continue", about_education_path, class: 'btn btn-info' %>
  </p>
</div>