#about-title {
  text-align: center;
  font-family: fantasy;
  margin-top: 100px;
}

#edu-btn {
  text-align: center;
}

#sub-t {
  text-align: center;
  font-family: fantasy;
}

#edu-title {
  text-align: center;
  font-family: fantasy;
}

#edu-sec {
  text-align: center;
  font-family: cursive;
}