#about-title {
  text-align: center;
  font-family: fantasy;
  margin-top: 100px;
}

#edu-btn {
  text-align: center;
}

#sub-t {
  text-align: center;
  font-family: fantasy;
}

#b1 {
  margin-right: 50px;
}