
.jumbotron {
  margin-top: 15px;
}

#intro-title {
  text-align: center;
  font-family: fantasy;
}

#intro-name {
  text-align: center;
  font-family: fantasy;
}

#intro-desc {
  text-align: center;
  font-family: cursive;
}

#btn {
  text-align: center;
  margin-top: 35px;
}

#dis {
  font-family: comic sans;
}
